<h1>Welcome to Lab Ratz!</h1>
<center>
<p>Please login or register to continue</p>
</center>

<center><p id='errors'><%= flash[:access] %></p></center>

<%= form_tag('/login', class: "form-group") do %>
<%= label_tag(:email, "Email:") %>
<%= text_field_tag(:email) %>
<%= label_tag(:password, "Password:") %>
<%= password_field_tag :password, nil, class: 'form-group password'%>
<%= submit_tag("Login") %>
<% end %>
<center>
<%= link_to "Register as a Student", new_student_path %>
<%= link_to "Register as a Professor", new_professor_path %>
</center>
