<div id="navbar">
  <% if logged_in? %>
    <%= button_to "Projects Page", projects_path, method: "get", class: 'nav_link' %>
    <% if is_student? 
      user_type = "Student"
    else
      user_type = "Professor" 
    end %>
  <%= button_to "#{user_type} Profile", current_user, method: "get", class: 'nav_link' %>
  <%= button_to "Logout", logout_path, method: "delete", class: 'nav_link' %>
  <% else %>
    <%= button_to "Register New Student", new_student_path, method: "get", class: 'nav_link' %>
    <%= button_to "Register New Professor", new_professor_path, method: "get", class: 'nav_link' %>
    <%= button_to "Login", login_path, method: "get", class: 'nav_link' %>
  <% end %>
</div>