<h1><%= @admin.name %></h1>

<% if @pending_profs.length > 0 %>
	<h3>Professors waiting for Account Approval</h3>
	<% @pending_profs.each do |prof| %>
	<div class="records">
		Name: <%= prof.name %> <br>
		Email: <%= prof.email %><br>
		<%= form_tag("/admin/professors/#{prof.id}", method: :put) %>
		<span> <%= submit_tag "Approve this Professor" %> </span>
	</div>
	<% end %>
<% end %>

<% if @pending_projects.length > 0 %>
	<h3>Projects waiting for Approval</h3>
	<% @pending_projects.each do |proj| %>
		<div class="records">
		Lead Researcher: <%= link_to proj.professor.name, proj.professor %><br>
		Title: <%=proj.title %><br>
		Hypothesis: <%= proj.hypothesis %><br>
		<%= form_tag("/admin/projects/#{proj.id}", method: :put) %>
		<span> <%= submit_tag "Approve this Proposal" %> </span>
		<%= form_tag("/admin/projects/#{proj.id}", method: :put) %>
		<span> <%= submit_tag "Reject this Proposal" %> </span>
		</div>
	<% end %>
<% end %>

<% if @no_pending %>
<h3>Congratulations, There are no Pending Admin Tasks!</h3>
<% end %>
