<h1><%= @admin.name %></h1>

<ul>
<% @pending_profs.each do |prof| %>
<li>Name:<%= prof.name %> Email:<%= prof.email %></li>
<%= form_tag("/admin/professors/#{prof.id}", method: :put) %>
<span> <%= submit_tag "Approve this Professor" %> </span>

<% end %>
</ul>

<ul>
<% @pending_projects.each do |proj| %>
<li>Lead Researcher:<%= link_to proj.professor.name, proj.professor %></li>
<h4>Title: <%=proj.title %></h4>
<p>Hypothesis: <%= proj.hypothesis %></p>
<%= form_tag("/admin/projects/#{proj.id}", method: :put) %>
<span> <%= submit_tag "Approve this Proposal" %> </span>
<%= form_tag("/admin/projects/#{proj.id}", method: :put) %>
<span> <%= submit_tag "Reject this Proposal" %> </span>

<% end %>
</ul>

<% if @no_pending %>
<h3>Congratulations there are no pending admin tasks!</h3>
<% end %>
