<h1><%= @project.title %></h1>

<% if is_professor? %>
	<h3><%= @project.remaining_time %> hours remaining</h3>
	<% if @project.remaining_time < 0 %>
	<div id="errors">
		<h4>over budget</h4>
	</div>
	<% end %>
<% elsif is_student? %>
	<h3><%= @student_total_hours %> hours worked on this project</h3>
<% end %>

<h3>Hypothesis:  <%= @project.hypothesis %></h3>

<p>Summary:  <%= @project.summary %></p>
<p>Status: <%= @project.status %></p>

<% @records.each do |record| %>
	<%= record.student.name%><br>
	<%= record.observations %><br>
	<% if is_professor? %>
		<%= record.hours_worked%> hours worked<br><br>
	<% end %> 
<% end %>

<% if is_professor? %>
	<% if @project.current? #if this is an active project %>
	<p>Available Students:</p>
		<%= form_for @project, url: team_update_path(@project), method: "put" do |f| %>
			<% @students.each do |student| %>
				<li><%= check_box(:project, :student_ids, {multiple: true, checked: student.working_on(@project)}, student.id, nil) %> <%= f.label student.name %></li>
			<% end %>
			<%= f.submit %>
		<% end %>
	<% end %>
<% end %>

<% if is_student? %>
	<%= form_for @record , html: {class: "form-group"} do |f| %>
	  <%= f.label :hours_worked %>
	  <%= f.number_field :hours_worked %><br>
	  <%= f.label :observations %>
	  <%= f.text_area :observations, cols: 30, rows: 15 %><br>
	  <%= f.submit %>
	<% end %>
<% end %>
