<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display" rel="stylesheet">
  <title>ResearchTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id=navbar_container>
		<% current_uri = request.env['PATH_INFO'] %>
		<% unless current_uri == root_path %>
			<%= render "shared/navbar" %>
		<% end %> 
	</div>
	<div id="page-wrapper">
		<%= yield %>
	</div>
</body>
</html>
